EvaComUNA/src/wsdl/localhost_8080/EvaComUNAWs/EvaComUNAWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.evacomunaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.evacomunaws.una.ac.cr/" name="EvaComUNAWs">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.evacomunaws.una.ac.cr/" schemaLocation="http://localhost:8080/EvaComUNAWs/EvaComUNAWs?xsd=1"/>
</xsd:schema>
</types>
<message name="guardarCaracteristica">
<part name="parameters" element="tns:guardarCaracteristica"/>
</message>
<message name="guardarCaracteristicaResponse">
<part name="parameters" element="tns:guardarCaracteristicaResponse"/>
</message>
<message name="eliminarProcesoevaluacion">
<part name="parameters" element="tns:eliminarProcesoevaluacion"/>
</message>
<message name="eliminarProcesoevaluacionResponse">
<part name="parameters" element="tns:eliminarProcesoevaluacionResponse"/>
</message>
<message name="getTrabajadorevaluarClass">
<part name="parameters" element="tns:getTrabajadorevaluarClass"/>
</message>
<message name="getTrabajadorevaluarClassResponse">
<part name="parameters" element="tns:getTrabajadorevaluarClassResponse"/>
</message>
<message name="eliminarTrabajadorevaluar">
<part name="parameters" element="tns:eliminarTrabajadorevaluar"/>
</message>
<message name="eliminarTrabajadorevaluarResponse">
<part name="parameters" element="tns:eliminarTrabajadorevaluarResponse"/>
</message>
<message name="getProcesoevaluacionClass">
<part name="parameters" element="tns:getProcesoevaluacionClass"/>
</message>
<message name="getProcesoevaluacionClassResponse">
<part name="parameters" element="tns:getProcesoevaluacionClassResponse"/>
</message>
<message name="getCompetenciaevaluarClass">
<part name="parameters" element="tns:getCompetenciaevaluarClass"/>
</message>
<message name="getCompetenciaevaluarClassResponse">
<part name="parameters" element="tns:getCompetenciaevaluarClassResponse"/>
</message>
<message name="guardarProcesoevaluacion">
<part name="parameters" element="tns:guardarProcesoevaluacion"/>
</message>
<message name="guardarProcesoevaluacionResponse">
<part name="parameters" element="tns:guardarProcesoevaluacionResponse"/>
</message>
<message name="getCompetenciaClass">
<part name="parameters" element="tns:getCompetenciaClass"/>
</message>
<message name="getCompetenciaClassResponse">
<part name="parameters" element="tns:getCompetenciaClassResponse"/>
</message>
<message name="eliminarCompetencia">
<part name="parameters" element="tns:eliminarCompetencia"/>
</message>
<message name="eliminarCompetenciaResponse">
<part name="parameters" element="tns:eliminarCompetenciaResponse"/>
</message>
<message name="guardarCompetenciaevaluar">
<part name="parameters" element="tns:guardarCompetenciaevaluar"/>
</message>
<message name="guardarCompetenciaevaluarResponse">
<part name="parameters" element="tns:guardarCompetenciaevaluarResponse"/>
</message>
<message name="getProcesoevaluaciones">
<part name="parameters" element="tns:getProcesoevaluaciones"/>
</message>
<message name="getProcesoevaluacionesResponse">
<part name="parameters" element="tns:getProcesoevaluacionesResponse"/>
</message>
<message name="guardarTrabajadorevaluar">
<part name="parameters" element="tns:guardarTrabajadorevaluar"/>
</message>
<message name="guardarTrabajadorevaluarResponse">
<part name="parameters" element="tns:guardarTrabajadorevaluarResponse"/>
</message>
<message name="getCompetenciasevaluar">
<part name="parameters" element="tns:getCompetenciasevaluar"/>
</message>
<message name="getCompetenciasevaluarResponse">
<part name="parameters" element="tns:getCompetenciasevaluarResponse"/>
</message>
<message name="getTrabajadoresvaluar">
<part name="parameters" element="tns:getTrabajadoresvaluar"/>
</message>
<message name="getTrabajadoresvaluarResponse">
<part name="parameters" element="tns:getTrabajadoresvaluarResponse"/>
</message>
<message name="eliminarCaracteristica">
<part name="parameters" element="tns:eliminarCaracteristica"/>
</message>
<message name="eliminarCaracteristicaResponse">
<part name="parameters" element="tns:eliminarCaracteristicaResponse"/>
</message>
<message name="getCaracteristicaClass">
<part name="parameters" element="tns:getCaracteristicaClass"/>
</message>
<message name="getCaracteristicaClassResponse">
<part name="parameters" element="tns:getCaracteristicaClassResponse"/>
</message>
<message name="eliminarCompetenciaevaluar">
<part name="parameters" element="tns:eliminarCompetenciaevaluar"/>
</message>
<message name="eliminarCompetenciaevaluarResponse">
<part name="parameters" element="tns:eliminarCompetenciaevaluarResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="eliminarParametros">
<part name="parameters" element="tns:eliminarParametros"/>
</message>
<message name="eliminarParametrosResponse">
<part name="parameters" element="tns:eliminarParametrosResponse"/>
</message>
<message name="recuperarClave">
<part name="parameters" element="tns:recuperarClave"/>
</message>
<message name="recuperarClaveResponse">
<part name="parameters" element="tns:recuperarClaveResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="guardarParametros">
<part name="parameters" element="tns:guardarParametros"/>
</message>
<message name="guardarParametrosResponse">
<part name="parameters" element="tns:guardarParametrosResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<message name="getParametros">
<part name="parameters" element="tns:getParametros"/>
</message>
<message name="getParametrosResponse">
<part name="parameters" element="tns:getParametrosResponse"/>
</message>
<message name="guardarCompetencia">
<part name="parameters" element="tns:guardarCompetencia"/>
</message>
<message name="guardarCompetenciaResponse">
<part name="parameters" element="tns:guardarCompetenciaResponse"/>
</message>
<message name="guardarUsuario">
<part name="parameters" element="tns:guardarUsuario"/>
</message>
<message name="guardarUsuarioResponse">
<part name="parameters" element="tns:guardarUsuarioResponse"/>
</message>
<message name="getCaracteristicas">
<part name="parameters" element="tns:getCaracteristicas"/>
</message>
<message name="getCaracteristicasResponse">
<part name="parameters" element="tns:getCaracteristicasResponse"/>
</message>
<message name="eliminarEvaluador">
<part name="parameters" element="tns:eliminarEvaluador"/>
</message>
<message name="eliminarEvaluadorResponse">
<part name="parameters" element="tns:eliminarEvaluadorResponse"/>
</message>
<message name="getEvaluadores">
<part name="parameters" element="tns:getEvaluadores"/>
</message>
<message name="getEvaluadoresResponse">
<part name="parameters" element="tns:getEvaluadoresResponse"/>
</message>
<message name="guardarEvaluador">
<part name="parameters" element="tns:guardarEvaluador"/>
</message>
<message name="guardarEvaluadorResponse">
<part name="parameters" element="tns:guardarEvaluadorResponse"/>
</message>
<message name="guardarPuesto">
<part name="parameters" element="tns:guardarPuesto"/>
</message>
<message name="guardarPuestoResponse">
<part name="parameters" element="tns:guardarPuestoResponse"/>
</message>
<message name="getPuestos">
<part name="parameters" element="tns:getPuestos"/>
</message>
<message name="getPuestosResponse">
<part name="parameters" element="tns:getPuestosResponse"/>
</message>
<message name="eliminarPuesto">
<part name="parameters" element="tns:eliminarPuesto"/>
</message>
<message name="eliminarPuestoResponse">
<part name="parameters" element="tns:eliminarPuestoResponse"/>
</message>
<message name="getUsuarioId">
<part name="parameters" element="tns:getUsuarioId"/>
</message>
<message name="getUsuarioIdResponse">
<part name="parameters" element="tns:getUsuarioIdResponse"/>
</message>
<message name="getCompetenciaS">
<part name="parameters" element="tns:getCompetenciaS"/>
</message>
<message name="getCompetenciaSResponse">
<part name="parameters" element="tns:getCompetenciaSResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="getParametrosClass">
<part name="parameters" element="tns:getParametrosClass"/>
</message>
<message name="getParametrosClassResponse">
<part name="parameters" element="tns:getParametrosClassResponse"/>
</message>
<message name="getUsuarioClass">
<part name="parameters" element="tns:getUsuarioClass"/>
</message>
<message name="getUsuarioClassResponse">
<part name="parameters" element="tns:getUsuarioClassResponse"/>
</message>
<message name="activacionUsu">
<part name="parameters" element="tns:activacionUsu"/>
</message>
<message name="activacionUsuResponse">
<part name="parameters" element="tns:activacionUsuResponse"/>
</message>
<message name="getEvaluadorClass">
<part name="parameters" element="tns:getEvaluadorClass"/>
</message>
<message name="getEvaluadorClassResponse">
<part name="parameters" element="tns:getEvaluadorClassResponse"/>
</message>
<message name="getPuestoClass">
<part name="parameters" element="tns:getPuestoClass"/>
</message>
<message name="getPuestoClassResponse">
<part name="parameters" element="tns:getPuestoClassResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="EvaComUNAWs">
<operation name="guardarCaracteristica">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCaracteristicaRequest" message="tns:guardarCaracteristica"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCaracteristicaResponse" message="tns:guardarCaracteristicaResponse"/>
</operation>
<operation name="eliminarProcesoevaluacion">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarProcesoevaluacionRequest" message="tns:eliminarProcesoevaluacion"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarProcesoevaluacionResponse" message="tns:eliminarProcesoevaluacionResponse"/>
</operation>
<operation name="getTrabajadorevaluarClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getTrabajadorevaluarClassRequest" message="tns:getTrabajadorevaluarClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getTrabajadorevaluarClassResponse" message="tns:getTrabajadorevaluarClassResponse"/>
</operation>
<operation name="eliminarTrabajadorevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarTrabajadorevaluarRequest" message="tns:eliminarTrabajadorevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarTrabajadorevaluarResponse" message="tns:eliminarTrabajadorevaluarResponse"/>
</operation>
<operation name="getProcesoevaluacionClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getProcesoevaluacionClassRequest" message="tns:getProcesoevaluacionClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getProcesoevaluacionClassResponse" message="tns:getProcesoevaluacionClassResponse"/>
</operation>
<operation name="getCompetenciaevaluarClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaevaluarClassRequest" message="tns:getCompetenciaevaluarClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaevaluarClassResponse" message="tns:getCompetenciaevaluarClassResponse"/>
</operation>
<operation name="guardarProcesoevaluacion">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarProcesoevaluacionRequest" message="tns:guardarProcesoevaluacion"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarProcesoevaluacionResponse" message="tns:guardarProcesoevaluacionResponse"/>
</operation>
<operation name="getCompetenciaClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaClassRequest" message="tns:getCompetenciaClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaClassResponse" message="tns:getCompetenciaClassResponse"/>
</operation>
<operation name="eliminarCompetencia">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCompetenciaRequest" message="tns:eliminarCompetencia"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCompetenciaResponse" message="tns:eliminarCompetenciaResponse"/>
</operation>
<operation name="guardarCompetenciaevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaevaluarRequest" message="tns:guardarCompetenciaevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaevaluarResponse" message="tns:guardarCompetenciaevaluarResponse"/>
</operation>
<operation name="getProcesoevaluaciones">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getProcesoevaluacionesRequest" message="tns:getProcesoevaluaciones"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getProcesoevaluacionesResponse" message="tns:getProcesoevaluacionesResponse"/>
</operation>
<operation name="guardarTrabajadorevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarTrabajadorevaluarRequest" message="tns:guardarTrabajadorevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarTrabajadorevaluarResponse" message="tns:guardarTrabajadorevaluarResponse"/>
</operation>
<operation name="getCompetenciasevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciasevaluarRequest" message="tns:getCompetenciasevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciasevaluarResponse" message="tns:getCompetenciasevaluarResponse"/>
</operation>
<operation name="getTrabajadoresvaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getTrabajadoresvaluarRequest" message="tns:getTrabajadoresvaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getTrabajadoresvaluarResponse" message="tns:getTrabajadoresvaluarResponse"/>
</operation>
<operation name="eliminarCaracteristica">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCaracteristicaRequest" message="tns:eliminarCaracteristica"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCaracteristicaResponse" message="tns:eliminarCaracteristicaResponse"/>
</operation>
<operation name="getCaracteristicaClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCaracteristicaClassRequest" message="tns:getCaracteristicaClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCaracteristicaClassResponse" message="tns:getCaracteristicaClassResponse"/>
</operation>
<operation name="eliminarCompetenciaevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCompetenciaevaluarRequest" message="tns:eliminarCompetenciaevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarCompetenciaevaluarResponse" message="tns:eliminarCompetenciaevaluarResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="eliminarParametros">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarParametrosRequest" message="tns:eliminarParametros"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarParametrosResponse" message="tns:eliminarParametrosResponse"/>
</operation>
<operation name="recuperarClave">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/recuperarClaveRequest" message="tns:recuperarClave"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/recuperarClaveResponse" message="tns:recuperarClaveResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="guardarParametros">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarParametrosRequest" message="tns:guardarParametros"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarParametrosResponse" message="tns:guardarParametrosResponse"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
<operation name="getParametros">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosRequest" message="tns:getParametros"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosResponse" message="tns:getParametrosResponse"/>
</operation>
<operation name="guardarCompetencia">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaRequest" message="tns:guardarCompetencia"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaResponse" message="tns:guardarCompetenciaResponse"/>
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarUsuarioRequest" message="tns:guardarUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarUsuarioResponse" message="tns:guardarUsuarioResponse"/>
</operation>
<operation name="getCaracteristicas">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCaracteristicasRequest" message="tns:getCaracteristicas"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCaracteristicasResponse" message="tns:getCaracteristicasResponse"/>
</operation>
<operation name="eliminarEvaluador">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarEvaluadorRequest" message="tns:eliminarEvaluador"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarEvaluadorResponse" message="tns:eliminarEvaluadorResponse"/>
</operation>
<operation name="getEvaluadores">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getEvaluadoresRequest" message="tns:getEvaluadores"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getEvaluadoresResponse" message="tns:getEvaluadoresResponse"/>
</operation>
<operation name="guardarEvaluador">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarEvaluadorRequest" message="tns:guardarEvaluador"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarEvaluadorResponse" message="tns:guardarEvaluadorResponse"/>
</operation>
<operation name="guardarPuesto">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarPuestoRequest" message="tns:guardarPuesto"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarPuestoResponse" message="tns:guardarPuestoResponse"/>
</operation>
<operation name="getPuestos">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getPuestosRequest" message="tns:getPuestos"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getPuestosResponse" message="tns:getPuestosResponse"/>
</operation>
<operation name="eliminarPuesto">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarPuestoRequest" message="tns:eliminarPuesto"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/eliminarPuestoResponse" message="tns:eliminarPuestoResponse"/>
</operation>
<operation name="getUsuarioId">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioIdRequest" message="tns:getUsuarioId"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioIdResponse" message="tns:getUsuarioIdResponse"/>
</operation>
<operation name="getCompetenciaS">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaSRequest" message="tns:getCompetenciaS"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getCompetenciaSResponse" message="tns:getCompetenciaSResponse"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/logInResponse" message="tns:logInResponse"/>
</operation>
<operation name="getParametrosClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosClassRequest" message="tns:getParametrosClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosClassResponse" message="tns:getParametrosClassResponse"/>
</operation>
<operation name="getUsuarioClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioClassRequest" message="tns:getUsuarioClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioClassResponse" message="tns:getUsuarioClassResponse"/>
</operation>
<operation name="activacionUsu">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/activacionUsuRequest" message="tns:activacionUsu"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/activacionUsuResponse" message="tns:activacionUsuResponse"/>
</operation>
<operation name="getEvaluadorClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getEvaluadorClassRequest" message="tns:getEvaluadorClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getEvaluadorClassResponse" message="tns:getEvaluadorClassResponse"/>
</operation>
<operation name="getPuestoClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getPuestoClassRequest" message="tns:getPuestoClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getPuestoClassResponse" message="tns:getPuestoClassResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="EvaComUNAWsPortBinding" type="tns:EvaComUNAWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="guardarCaracteristica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProcesoevaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrabajadorevaluarClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarTrabajadorevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProcesoevaluacionClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompetenciaevaluarClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarProcesoevaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompetenciaClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCompetenciaevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProcesoevaluaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarTrabajadorevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompetenciasevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrabajadoresvaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCaracteristica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCaracteristicaClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCompetenciaevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperarClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCaracteristicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarPuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPuestos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompetenciaS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activacionUsu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluadorClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPuestoClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EvaComUNAWs">
<port name="EvaComUNAWsPort" binding="tns:EvaComUNAWsPortBinding">
<soap:address location="http://localhost:8080/EvaComUNAWs/EvaComUNAWs"/>
</port>
</service>
</definitions>