EvaComUNA/src/wsdl/localhost_8080/EvaComUNAWs/EvaComUNAWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.evacomunaws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.evacomunaws.una.ac.cr/" name="EvaComUNAWs">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.evacomunaws.una.ac.cr/" schemaLocation="http://localhost:8080/EvaComUNAWs/EvaComUNAWs?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="guardarCaracteristica">
<part name="parameters" element="tns:guardarCaracteristica"/>
</message>
<message name="guardarCaracteristicaResponse">
<part name="parameters" element="tns:guardarCaracteristicaResponse"/>
</message>
<message name="guardarCompetenciaevaluar">
<part name="parameters" element="tns:guardarCompetenciaevaluar"/>
</message>
<message name="guardarCompetenciaevaluarResponse">
<part name="parameters" element="tns:guardarCompetenciaevaluarResponse"/>
</message>
<message name="guardarPuesto">
<part name="parameters" element="tns:guardarPuesto"/>
</message>
<message name="guardarPuestoResponse">
<part name="parameters" element="tns:guardarPuestoResponse"/>
</message>
<message name="guardarEvaluador">
<part name="parameters" element="tns:guardarEvaluador"/>
</message>
<message name="guardarEvaluadorResponse">
<part name="parameters" element="tns:guardarEvaluadorResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="guardarUsuario">
<part name="parameters" element="tns:guardarUsuario"/>
</message>
<message name="guardarUsuarioResponse">
<part name="parameters" element="tns:guardarUsuarioResponse"/>
</message>
<message name="guardarParametros">
<part name="parameters" element="tns:guardarParametros"/>
</message>
<message name="guardarParametrosResponse">
<part name="parameters" element="tns:guardarParametrosResponse"/>
</message>
<message name="guardarCompetencia">
<part name="parameters" element="tns:guardarCompetencia"/>
</message>
<message name="guardarCompetenciaResponse">
<part name="parameters" element="tns:guardarCompetenciaResponse"/>
</message>
<message name="getUsuarioId">
<part name="parameters" element="tns:getUsuarioId"/>
</message>
<message name="getUsuarioIdResponse">
<part name="parameters" element="tns:getUsuarioIdResponse"/>
</message>
<message name="getUsuarioClass">
<part name="parameters" element="tns:getUsuarioClass"/>
</message>
<message name="getUsuarioClassResponse">
<part name="parameters" element="tns:getUsuarioClassResponse"/>
</message>
<message name="guardarProcesoevaluacion">
<part name="parameters" element="tns:guardarProcesoevaluacion"/>
</message>
<message name="guardarProcesoevaluacionResponse">
<part name="parameters" element="tns:guardarProcesoevaluacionResponse"/>
</message>
<message name="guardarTrabajadorevaluar">
<part name="parameters" element="tns:guardarTrabajadorevaluar"/>
</message>
<message name="guardarTrabajadorevaluarResponse">
<part name="parameters" element="tns:guardarTrabajadorevaluarResponse"/>
</message>
<message name="getParametrosClass">
<part name="parameters" element="tns:getParametrosClass"/>
</message>
<message name="getParametrosClassResponse">
<part name="parameters" element="tns:getParametrosClassResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<portType name="EvaComUNAWs">
<operation name="hello">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="guardarCaracteristica">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCaracteristicaRequest" message="tns:guardarCaracteristica"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCaracteristicaResponse" message="tns:guardarCaracteristicaResponse"/>
</operation>
<operation name="guardarCompetenciaevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaevaluarRequest" message="tns:guardarCompetenciaevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaevaluarResponse" message="tns:guardarCompetenciaevaluarResponse"/>
</operation>
<operation name="guardarPuesto">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarPuestoRequest" message="tns:guardarPuesto"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarPuestoResponse" message="tns:guardarPuestoResponse"/>
</operation>
<operation name="guardarEvaluador">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarEvaluadorRequest" message="tns:guardarEvaluador"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarEvaluadorResponse" message="tns:guardarEvaluadorResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarUsuarioRequest" message="tns:guardarUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarUsuarioResponse" message="tns:guardarUsuarioResponse"/>
</operation>
<operation name="guardarParametros">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarParametrosRequest" message="tns:guardarParametros"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarParametrosResponse" message="tns:guardarParametrosResponse"/>
</operation>
<operation name="guardarCompetencia">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaRequest" message="tns:guardarCompetencia"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarCompetenciaResponse" message="tns:guardarCompetenciaResponse"/>
</operation>
<operation name="getUsuarioId">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioIdRequest" message="tns:getUsuarioId"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioIdResponse" message="tns:getUsuarioIdResponse"/>
</operation>
<operation name="getUsuarioClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioClassRequest" message="tns:getUsuarioClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getUsuarioClassResponse" message="tns:getUsuarioClassResponse"/>
</operation>
<operation name="guardarProcesoevaluacion">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarProcesoevaluacionRequest" message="tns:guardarProcesoevaluacion"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarProcesoevaluacionResponse" message="tns:guardarProcesoevaluacionResponse"/>
</operation>
<operation name="guardarTrabajadorevaluar">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarTrabajadorevaluarRequest" message="tns:guardarTrabajadorevaluar"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/guardarTrabajadorevaluarResponse" message="tns:guardarTrabajadorevaluarResponse"/>
</operation>
<operation name="getParametrosClass">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosClassRequest" message="tns:getParametrosClass"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/getParametrosClassResponse" message="tns:getParametrosClassResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://controller.evacomunaws.una.ac.cr/EvaComUNAWs/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
</portType>
<binding name="EvaComUNAWsPortBinding" type="tns:EvaComUNAWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCaracteristica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCompetenciaevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarPuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarProcesoevaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarTrabajadorevaluar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametrosClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EvaComUNAWs">
<port name="EvaComUNAWsPort" binding="tns:EvaComUNAWsPortBinding">
<soap:address location="http://localhost:8080/EvaComUNAWs/EvaComUNAWs"/>
</port>
</service>
</definitions>